*{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; 
    font-size: 16px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 18.5714px;
    color: #e65df5;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.header {  
    font-size: 24px; 
    font-weight: 700; 
    line-height: 26.4px; 
    position: sticky;
} 

h2 {
    font-size: 21px; 
    line-height: 30px; 
} 

a:link{
    text-decoration: none;
}

a:visited{
    color: #e65df5;
    text-decoration: none;
}

.header-menu-wrapper{
    display: grid;
    grid-template-areas: 
    'menu logo area';
    overflow: none;
    position: sticky;
}

.main-nav{
    grid-area: menu;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-align: center;
}

.main-menu{
    grid-area: logo;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 25px;
}

.header__menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

summary {
    position: relative;
    text-align: center;
}

.header__menu a {
    display: block;
    padding: 20px 25px;
    text-align: left;
}

.header a:hover {
    background-color: #2e2d2d; 
}

.main-menu{
    display: inline-block;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.image-selector{
    display: grid;
    justify-content: space-between;
    grid-template-areas:
    'left middle right';
    overflow: none;
}

.store-wrapper,
.new-release-wrapper,
.pop-series-wrapper {
  padding: 15px;
}

.store-wrapper {
    grid-area: left;
    text-align: center;
}

.new-release-wrapper {
    grid-area: middle;
    text-align: center;
}

  
.pop-series-wrapper {
    grid-area: right;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .image-selector{
        display: grid;
        justify-content: center;
        grid-template-areas: 
        'left'
        'middle'
        'right';
        overflow: auto;
    }
}