body
{
  background-color: black;
}

h1
{
 font-family: arial;
 color: #e65df5; 
 text-align: center;
}

/*Circle1 decoration*/
.circle
{
  width:400px;
  height:400px;
  line-height:300px;
  border-radius:50%;
  background-color:#c959c9; 
  transition: transform .5s; /* Animation */
}

/*heading*/
.circle h2
{
 font-size: 28px;
 transform: translate(48px, -70px);
 font-family: arial;
 color: #ff81ff;
 text-decoration: underline;
}
 /* enlarge circle*/
.circle:hover
{
  transform: scale(1.05);
}

/* description*/
.paragraph
{
  line-height: 1;
  transform: translate(20px, -180px);
  color: black;  
  font-family: arial;
  font-size: 20px;
}



/*Second Circle*/
.circle2
{
  width:400px;
  height:400px;
  line-height:300px;
  border-radius:50%;
  background-color:#c959c9; 
  transition: transform .5s; /* Animation */
  margin-top: -418px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  }

/*Enlarging circle*/
.circle2:hover
{
  transform: scale(1.05);
}

/*positioning heading*/
.circle2 h2
{
 font-size: 28px;
 transform: translate(60px, -70px);
 font-family: arial;
 color: #ff81ff;
 text-decoration: underline;
}

/*description*/
.paragraph2
{
  color: black;
  line-height:1;
  transform: translate(20px, -180px);  
  font-family: arial;
  font-size: 20px;
}


/*Positioning and shaping image*/
img
{
  width:350px;
  height:300px;
  position: relative;
  top:-360px;
  left:1090px;
}


/* Menu */
a { font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; 
  font-size: 16px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 400; 
  line-height: 18.5714px; 
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.topnav {
  width: 100%; 
  background-color: #000;
  overflow: hidden; 
}

.topnav a {
  float: left; 
  text-align: left; 
  width: 20%; 
  padding: 12px 0; 
  transition: all 0.3s ease; 
  font-size: 24px; 
}

.topnav a.split{
  float:left;
  text-align: center;
  background-color: #000;
  color: #e65df5;
}

.topnav a:hover {
  background-color: #2e2d2d; /* Add a hover color */
}

a:link{
  color: #e65df5;
  text-decoration: none;
}

a:visited{
  color: #e65df5;
  text-decoration: none;
}

footer
{
  color:purple;
  font-family: arial;
}

summary 
{ font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; 
  font-size: 21px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 400; 
  line-height: 30px; 
  color: #e65df5;
}
  
