

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  background-image: 
    linear-gradient(rgba(250, 201, 184, 0.5), rgba(250, 220, 190, 0.5)), 
    url(../Media/purple_village.jpg);
  background-position: center;
  background-size: cover;
}

/*Style Menu*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.topnav {
  width: 98.9vw; 
  background-color: #000;
  overflow: hidden; 
  position: absolute;
  top: 0%;
  margin-left: -0.55%;
  z-index: 1;
}

.topnav a {
  text-align: left; 
  width:15%; 
  padding: 12px 0; 
  transition: all 0.3s ease; 
  font-size: 1.2rem; 
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  display: block;
  z-index: 1; 
  position: relative;
  background-color: black;
}

.topnav a.split{
  float:left;
  text-align: center;
  background-color: #000;
  color: #e65df5;
}

.topnav a:hover {
  background-color: #2e2d2d; /* Add a hover color */
  text-decoration: underline;
}

a:link{
  color: #e65df5;
  text-decoration: none;
}

a:visited{
  color:#e65df5;
  text-decoration: none;
}

summary 
{ font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; 
  font-size: 21px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 400; 
  line-height: 30px; 
  color: #e65df5;
}
/* Style the header/rectangle */
.header {
  grid-area: header;
  height: 50vh;
  width: 98.2vw;
  text-align: center;
  font-size: 2rem;
  color: #742a7d;
}

.parent-container
{
  position:relative;
}

/* The grid container */
.grid-container {
  display: grid;
  grid-template-areas: 
    'header header header header header header' 
    'left left left right right right' 
} 


/* Style the left column */
.left {
  grid-area: left;
  height: 40vh;
  width: 50vw;
  justify-items: end;
  align-items: end;
}

/*Circle1 decoration*/
.circle
{
  width:400px;
  height:400px;
  line-height:300px;
  border-radius:50%;
  background-color:#c959c9; 
  transition: transform .5s; /* Animation */
  z-index: 1;
}

/*heading*/
.circle h2
{
 font-size: 1.75rem;
 transform: translate(48px, -70px);
 font-family: arial;
 color: #ff81ff;
 text-decoration: underline;
}
 /* enlarge circle*/
.circle:hover
{
  transform: scale(1.05);
}

/* description*/
.paragraph
{
  line-height: 1;
  transform: translate(20px, -180px);
  color: black;  
  font-family: arial;
  font-size: 20px;
}

/* Style the right column */
.right {
  grid-area: right;
  height: 40vh;
}

/*Second Circle*/
.circle2
{
  width:400px;
  height:400px;
  line-height:300px;
  border-radius:50%;
  background-color:#c959c9; 
  transition: transform .5s; /* Animation */
  margin: auto;
  z-index: 1;
  position: relative;
  }

/*Enlarging circle*/
.circle2:hover
{
  transform: scale(1.05);
}

/*positioning heading*/
.circle2 h2
{
 font-size: 28px;
 transform: translate(60px, -70px);
 font-family: arial;
 color: #ff81ff;
 text-decoration: underline;
}

/*description*/
.paragraph2
{
  color: black;
  line-height:1;
  transform: translate(20px, -180px);  
  font-family: arial;
  font-size: 20px;
}

/* Style the footer */
footer {
  font-size: 1.3rem;
  color: #e65df5;
  position: absolute;
  bottom: -18vh;
}

@media only screen and (max-width: 600px)
{
  .circle2
  {
    transform: translate(-200px, 150px);
    animation: none;

  }

  .circle
  {
    transform: translate(10px, -300px);
    animation: none;
  }

  footer
  {
    position: absolute;
    bottom: -45vh;
  }

  .topnav
  {
    width: 200vw;
  }
}