html {
  height: 100%;
  width:100%;
}

body{
  margin-top: 270px;
  margin-bottom: 170px;
  background-color:#171716;
  text-align: center;
  color: #000000;
}
h1 {
  font-size:30px;
  font-family: arial;
  color:#e65df5;
  text-align: center;
  background-color:purple;
  text-align: center;
  border-radius: 20px;
  border-left:auto;
  border-right:auto;
}
  img {
    display: block;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top:6px;
  }

  a { font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; 
    font-size: 16px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 18.5714px; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .topnav {
    width: 100%; 
    background-color: #000;
    overflow: hidden; 
  }

  .topnav a {
    float: left; 
    text-align: left; 
    width: 20%; 
    padding: 12px 0; 
    transition: all 0.3s ease; 
    font-size: 24px; 
  }

  .topnav a.split{
    float:left;
    text-align: center;
    background-color: #000;
    color:#e65df5;
  }
  
  .topnav a:hover {
    background-color: #2e2d2d; /* Add a hover color */
  }

a:link{
    color:#e65df5;
    text-decoration: none;
}

a:visited{
    color:#e65df5;
    text-decoration: none;
}

summary 
{ font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; 
  font-size: 21px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 400; 
  line-height: 30px; 
  color: #e65df5;
}
  
